@import url('https:fonts.googleapis.com/css2family=Sora:wght@100..@800&display=swap');

.sora {
  font-family: "Sora", sans-serif;
  font-style: normal;
}

body{
  font-family: "Sora", sans-serif;
  font-size: 26px;
  letter-spacing: 1.48234;
  background-color : #F4F5FA;  /*#23283e*/
  font-weight: 400;
  color: #2978b5;
}

/* APP CSS */
main{
  margin: 0 auto;
}

/* COLORS */
.pink{
  color: #df3079;
}

